/* Styles globaux */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #007bff;
    margin-bottom: 20px;
}

button {
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-control {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

.footer {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 1px solid #dee2e6;
}